.n-button {
    display: block;
    cursor: pointer;
    border: 1px solid var(--toyota-black-800);
    background-color: var(--toyota-black-800);
    min-width: 10rem;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    border-radius: 8px;
}

.n-button:hover {
    border-color: var(--toyota-black-700);
    background-color: var(--toyota-black-700);
}

.n-button[disabled] {
    cursor: not-allowed;
    border-color: var(--toyota-black-400);
    background-color: var(--toyota-black-400);
}

.n-button--highlight {
    display: flow-root;
    gap: 8px;
    color: var(--toyota-white);
    text-align: center;
    font-family: "Toyota Type";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    background-color: var(--toyota-brand);
    border-radius: 0%;
    padding: 20px 16px;
    border: none;
    transition: all 0.15s ease-in-out;
}

.n-button--highlight:before
 {
    content: "";
    display: table;
    margin-bottom: calc(-0.5lh + 0.05em);
}

.n-button--highlight:after {
    content: "";
    display: table;
    margin-bottom: calc(-0.5lh + 0.46em);
}

.n-button--highlight:hover {
    background-color: #D40605;
}


@media screen and (max-width: 768px) {
    .n-button {
        height: 36px;
        padding: 14px 22px;
        font-size: 11px;
    }
}