.n-checkbox, .n-radio {
    opacity: 1;
    position: absolute; 
    z-index: 1;
    width: 22px;
    height: 22px;
    margin: 0;
    appearance: none;
    border: 1px solid var(--toyota-black-900);
    background-color: var(--toyota-white);
}

.n-checkbox {
    border-radius: .375rem;
}

.n-checkbox--lighter {
    border: 1px solid var(--toyota-white);
    background-color: var(--toyota-black-900);
}

.n-checkbox--lighter + label {
    color: var(--toyota-white);
}

.n-radio {
    border-radius: 50%;
}

.n-checkbox, .n-checkbox-label, .n-radio, .n-radio-label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
}

.n-checkbox:checked, .n-radio:checked {
    outline: none;
}

.n-checkbox-label, .n-radio-label {
    position: relative;
}

.n-checkbox + .n-checkbox-label:before {
    content: '';
    background: var(--toyota-white);
    border-radius: 0.375rem;
    background-color: var(--toyota-black-100);
    border: 1px solid var(--toyota-black-800);
    display: inline-block;
    vertical-align: middle;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: .75rem;   
    text-align: center;
}

.n-radio + .n-radio-label:before {
    content: '';
    background: var(--toyota-white);
    border-radius: 0.375rem;
    background-color: var(--toyota-black-100);
    border: 1px solid var(--toyota-black-800);
    display: inline-block;
    vertical-align: middle;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: .75rem;   
    text-align: center;
}

.n-checkbox:checked + .n-checkbox-label:before {
    content: url(../../img/icons/icon-check-white.svg);
    z-index: 2;
    width: 1.25rem;
    height: 1.25rem;
    background: var(--toyota-black-900);
    border: 1px solid var(--toyota-black-800);
}

.n-radio + .n-radio-label:before {
    border-radius: 50%;
}

.n-radio:checked + .n-radio-label:before {
    content: "";
    z-index: 2;
    background-color: var(--toyota-black-900);
    border: .2rem solid var(--toyota-white);
    width: .7rem;
    height: .7rem;
    margin: .15rem .85rem .15rem .15rem;
}

.n-radio:checked + .n-radio-label::after {
    display: none;
}

.n-radio:focus + .n-radio-label:after {
    position: absolute;
    z-index: 0;
    left: -.3rem;
    border-radius: 50%;
    content: "";
    background-color: var(--toyota-black-400);
    border: none;
    width: 2rem;
    height: 2rem;
}

.n-checkbox:focus + .n-checkbox-label, .n-radio:focus + .n-radio-label {
    outline: 1px solid #ddd;
}

.n-group-radio {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.n-group-radio > div {
    margin-right: 1.5rem;
}

.n-group-radio > div:last-child {
    margin-right: 0;
}