<header class="header">
    
    <div class="header__logo">
        <img src="../img/toyota-logo.avif" alt="Logo Toyota">
    </div>
    <h1 class="header__title">
        Toyota Library
        <span> / NORTIS</span>
    </h1>

</header>

<nav class="menu--left" role="navigation">
    <div class="menuToggle">
        <input type="checkbox"/>
        <img src="../img/menu-toggle.png" alt="Icon menu toggle">
        <ul class="menuItem">
            <li><p class="typography-h4">Tokens</p></li>
            <li><a class="typography-h5 uppercase" href="#colors">Colors</a></li>
            <li><a class="typography-h5 uppercase" href="#typography">Typography</a></li>
        </ul>
    </div>
</nav>
