.n-brand-list {
    display: none;
}

.n-brand-list li {
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
}

.n-brand-list .checked {
    border: 2px solid var(--toyota-black-900);
}

.n-brand-list .checked::before {
    content: url(../../img/icons/icon-check-solid.svg);
    position: absolute;
    top: 0;
    right: 2px;
}


@media screen and (min-width: 991px) {
    .n-brand-list {
        display: grid;
        grid-template-columns: repeat(4, auto);
        gap: .5rem;
        width: 310px;
        margin: 0 auto;
        margin-bottom: 1rem;
    }
}