.n-data {
    background-color: #fff;
    color: var(--toyota-black-800);
    border: 1px solid var(--toyota-black-800);
    border-radius: 8px;
    padding: 2.5rem 1.5rem;
    margin: 2.5rem 0;
}

.n-data ul {
    display: block;
}

.n-data ul li:first-child span {
    display: block;
    font-family: "Toyota Type SemiBold";
    font-size: 28px;
    line-height: 180%;
}

.n-data dl {
    font-family: "Toyota Type";
    line-height: 180%;
    margin-bottom: 4px;
    line-height: 120%;
    font-size: 16px;
}

.n-data p span {
    font-family: "Toyota Type SemiBold";
}

@media screen and (min-width: 768px) {
    .n-data ul {
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: 2fr 1fr 1fr;
    }
}