.data-car {
    border-radius: 1rem;
    border: 1px solid var(--toyota-black-800);
    padding: 1.5rem 1rem;
}

.data-car ul {
    display: block;
    margin: -1.5rem 0;
}

.data-car li {
    padding: 1.5rem 0;
    border-bottom: 1px solid var(--toyota-black-400);
}

.data-car li:last-child {
    border-bottom: none;
}

.data-car p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--toyota-black-700);
    font-size: 0.875rem;
    margin-bottom: 0.8rem;
}

.data-car p:last-child {
    margin-bottom: 0;
}

.data-car ul + p {
    justify-content: flex-start;
    padding-top: 1rem;
    margin-top: 1rem;
    margin-bottom: 0;
    border-top: 1px solid var(--toyota-black-400);
}

.data-car ul + p span {
    margin-left: 1.5rem;
}

.data-car span {
    color: var(--toyota-black-900);
}

@media screen and (min-width: 991px) {

    .data-car ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 -3rem;
    }

    .data-car li {
        width: calc(100% / 3);
        padding: 0 3rem;
        border-right: 1px solid var(--toyota-black-400);
        border-bottom: none;
    }

    .data-car li:last-child {
        border-right: none;
    }

}