.n-multi-step {
    color: var(--toyota-black-400);
    font-size: .875rem;
    line-height: 100%;
    /* BEGIN - code to insert */
    padding: 1.75rem 3rem;
    background-color: var(--toyota-black-800);
    /* END - code to insert */
}

.n-multi-step ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
    width: 100%;
}

.n-multi-step li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 1.5rem;
}

.n-multi-step li:last-child {
    margin-right: 0;
}

.n-multi-step li:last-child::after {
    content: none;
}

.n-multi-step a {
    display: flex;
    color: var(--toyota-white);
    text-decoration: none;
}


.n-multi-step span {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.n-multi-step span:first-child {
    margin-right: .75rem;
}

.n-multi-step span:first-child:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 1.375rem;
    height: 1.375rem;
    border: 1px solid transparent;
    content: attr(data-step);
    font-size: .75rem;
    z-index: 1;
}

.n-multi-step span:first-child:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    width: 1.375rem;
    height: 1.375rem;
    border-radius: 50%;
    border: 1px solid var(--toyota-white);
    margin-top: .05rem;
}

.n-multi-step .n-active {
    color: var(--toyota-white);
    flex: auto;
}

.n-multi-step .n-active p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.n-multi-step .n-active span:first-child:before,
.n-multi-step .n-checked span:first-child:before {
    z-index: 0;
    background-color: var(--toyota-white);
    border-color: var(--toyota-white);
    color: var(--toyota-black-800);
    width: 1.375rem;
    height: 1.375rem;
    border-radius: 50%;
}

.n-multi-step .n-active span:first-child:after,
.n-multi-step .n-checked span:first-child:after {
    color: var(--toyota-black-800);
}

.n-multi-step .n-active span:first-child {
    display: flex;
    font-size: .75rem;
    line-height: 120%;
}

.n-multi-step .n-checked span:first-child:after {
    content: url(../../img/icons/icon-check.svg);
    height: 8px;
}

.n-multi-step span:last-child {
    display: none;
    align-items: center;
    width: auto;
    height: auto;
    border: none;
    border-radius: 0;
    background-color: transparent;
    color:  var(--toyota-white);
}

.n-multi-step .n-active span {
    display: inline;
}

.n-multi-step .n-active span:last-child {
    margin-left: .75rem;
}

@media screen and (min-width: 991px) {

    .n-multi-step {
        /* BEGIN - CODE TO REMOVE
        max-width: 1024px;
        END - CODE TO REMOVE */
        margin: 0 auto;
    }

    .n-multi-step ul {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .n-multi-step li {
        margin-right: .75rem;
    }

    .n-multi-step li::after {
        content: url(../../img/icons/chevron-step-next.svg);
        margin: 0.4rem 2rem 0 2rem;
    }

    .n-multi-step .n-checked::after {
        content: url(../../img/icons/chevron-step.svg);
    }

    .n-multi-step p {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .n-multi-step span:last-child {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: .75rem;
    }

    .n-multi-step .n-active {
        flex: none;
    }

}
