.n-tooltip {
    display: none;
    background: var(--toyota-black-900);
    padding: .75rem;
    max-width: 25rem;
    border-radius: .5rem;
    z-index: 10;
}

.n-tooltip p {
    color: var(--toyota-white);
    font-size: 0.625rem;
    line-height: 0.875rem;
    margin-bottom: .5rem;
}

.n-tooltip p:last-child {
    margin-bottom: 0;
}

.n-tooltip[data-show] {
    display: block;
}

.n-arrow,
.n-arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

.n-arrow {
  visibility: hidden;
}

.n-arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}

.n-tooltip[data-popper-placement^='top'] > .n-arrow {   
    bottom: -4px;
}

.n-tooltip[data-popper-placement^='bottom'] > .n-arrow {
    top: -4px;
}

.n-tooltip[data-popper-placement^='left'] > .n-arrow {
    right: -4px;
}

.n-tooltip[data-popper-placement^='right'] > .n-arrow {
    left: -4px;
}