.n-blocks {
    display: block;
    margin: 3rem -.3rem 0 -.3rem;
}

/* BEGIN - code to insert */
.n-block--center {
    text-align: center;
}
/* END - code to insert */


.n-blocks .n-headline-2 {
    margin: 0;
}

.n-blocks li {
    margin: .3rem 0;
}

.n-block-form {
    position: relative;
    background-color: var(--toyota-white);
    border-radius: 1.5rem;
    padding: 1.5rem;
    text-align: center;
    height: auto;
}

.n-block-form--or::after {
    content: "OU";
    position: absolute;
    left: calc(50% - 1.56rem);
    bottom: -1.7rem;
    z-index: 1;
    display: flex;
    width: 3.125rem;
    height: 3.125rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-family: 'Toyota Type SemiBold';
    color: var(--toyota-white);
    background-color: var(--toyota-brenad);
}

.n-block-form--no-after::after {
    display: none;
}

.n-block-form .n-form-toyota__fieldset {
    display: block;
}

.n-block-list {
    color: var(--toyota-white);
    margin-left: 0;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 0 1.5rem;
    width: auto;

}

.n-block-list li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 1.5rem 0;
}

.n-block-list img {
    margin-right: 1.5rem;
}

.n-block-list p {
    color: #FFF;
    line-height: 1.25rem; /* 142.857% */
}

.n-block-ia-estimation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.n-block-ia-estimation img {
    margin-bottom: 1.5rem;
    mix-blend-mode: darken;         
}

.n-block-ia-estimation .n-form-toyota__control {
    margin-top: 1.5rem;
    margin-bottom: 0;
}

.n-block-ia-estimation__content {
    padding-right: 0;
}

.n-block-estimate {
    background: var(--toyota-black-200);
    border-radius: 1rem;
    color: var(--toyota-black-800);
    min-height: 17rem;
    padding: 1.5rem;
}

.n-block-estimate--light {
    background: transparent;
}

.n-block-estimate--border {
    border: 1px solid var(--toyota-black-800);
}

.n-block-estimate__title {
    font-family: "Toyota Type SemiBold";
    font-size: 1.25rem;
    line-height: 120%;
}

.n-block-estimate__price {
    font-family: "Toyota Type SemiBold";
    font-size: 2.5rem;
    line-height: 120%;
    margin: 1rem 0;
}

.n-block-estimate__price sup {
    vertical-align: super;
    font-size: 1.5rem;
}

.n-block-estimate__paragraph {
    font-family: "Toyota Type";
    font-size: 0.75rem;
    line-height: 140%;
    margin-bottom: 1rem;
}

.n-block-estimate__price span {
    font-family: "Toyota Type";
    font-size: 1.25rem;
    line-height: 120%;
    margin-left: 1rem;
}

.n-block-estimate__paragraph sup {
    vertical-align: super;
    font-size: smaller;
}

.n-block-estimate__paragraph b {
    font-family: "Toyota Type SemiBold";
}

.n-block-estimate__paragraph a {
    font-family: "Toyota Type SemiBold";
    text-decoration: none;
    color: #60B8FF;
}

.n-bloc-esimate__image {
    text-align: center;
    padding-top: 1.5rem;
}

.n-bloc-esimate__image img {
    width: 12rem;
    height: auto;
}

.n-block-estimate--outline {
    background-color: var(--toyota-white);
    border: 1px solid var(--toyota-black-800);
}

.n-block-estimate--dark {
    background-color: var(--toyota-black-800);
    color: var(--toyota-white);
}

@media screen and (min-width: 991px) {
    .n-block-ia-estimation__content .n-form-toyota__control:last-child {
        margin-bottom: 0;
    }

    .n-blocks {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .n-block-form {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 22rem;
        height: 21rem;
        padding: 1.5rem 3.8rem;
    }

    .n-block-form .n-form-toyota {
        width: 100%;
    }

    .n-blocks li {
        margin: 0 .3rem;
    }

    .n-block-form--or::after {
        top: calc(50% - 1.56rem);
        right: -1.7rem;
        bottom: auto;
        left: auto;
    }

    .n-block-list {
        color: var(--toyota-white);
        margin-left: 2.5rem;
        margin-top: -1.5rem;
        margin-bottom: -1.5rem;
        padding: 0;
        width: 22rem;
    }

    .n-block-list li {
        margin: 1.5rem 0;
    }

    .n-block-estimate {
        padding: 1.5rem 3.75rem;
    }

    .n-block-ia-estimation {
        flex-direction: row;
    }

    .n-block-ia-estimation img {
        margin-right: 3.75rem;
        margin-bottom: 0;        
    }

    .n-block-ia-estimation__content {
        padding-right: 4.5rem;
    }
}