.n-form-toyota {
    margin: 0;
}

.n-form-toyota__fieldset {
    display: grid;
    column-gap: 3.25rem;
    row-gap: 0rem;
    margin-bottom: 2.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--toyota-black-400);
}

.n-form-toyota__fieldset--noborder {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

.n-form-toyota__fieldset--nocolumn {
    grid-template-columns: none;
}

.n-form-toyota__group-fieldset {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.n-form-toyota__fieldset:last-child {
    margin-bottom: 0;
}

.n-form-toyota__fieldset--highlight {
    display: block;
    border-radius: 1rem;
    padding: 1rem;
    background-color: var(--toyota-black-100);
    border-bottom: none;
}

.n-form-toyota__fieldset + .n-paragraph {
    margin-top: -1.5rem;
    margin-bottom: 2.5rem;
}

.n-form-toyota__fieldset--column {
    grid-template-columns: 1fr;
}

.n-form-toyota__control {
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;  
    margin-bottom: 2rem; 
}

.n-form-toyota__control:last-child {
    margin-bottom: 0; 
}

.n-form-toyota__control label,
.n-form-toyota__control p {
    display: flex;
    margin-bottom: 1.25rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: 120%;
}

.n-form-toyota__control [aria-label="required"] {
    color: var(--toyota-brenad);
}

.n-form-text,
.n-form-select {
    height: 24px;
    border: 1px solid var(--toyota-black-600);
    padding: 10px 14px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    color: var(--toyota-black-600);
    appearance: none;
}

.n-form-text:focus,
.n-form-select:focus {
    border: 1px solid var(--toyota-black-800);
    box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.15);
}

.n-form-text[disabled],
.n-form-select[disabled],
.n-form-text[disabled]::placeholder,
.n-form-select[disabled]::placeholder {
    border-color: var(--toyota-black-500);
    background-color: var(--toyota-black-100);
    color: var(--toyota-black-400);
}

.n-form-text[name="verification"],
.n-form-text[name="cellphone"] {
    margin-bottom: 1rem;
}

.n-form-select {
    position: relative;
    appearance: none;
    width: 100%;
    height: 44px;
    background: transparent;
    background-image: url(../../img/icons/chevron-down.svg);
    background-repeat: no-repeat;
    background-position-x: calc(100% - .4rem);
    background-position-y: 50%;
}

.n-form-select[disabled] option {
    color: var(--toyota-black-400);
}

.n-valid + .n-form-toyota__valid-icon {
    display: block;
}

.n-form-toyota__valid-icon {
    display: none;
    position: absolute;
    right: -1.2rem;
    bottom: 1rem;
}

.n-form-toyota__submit .n-button {
    width: 100%;
}

.n-form-message {
    margin: .8rem 0 1.4rem 0;
    color: var(--toyota-black-700);
    font-size: 0.75rem;
    line-height: 120%;
    text-align: left;
}

.n-form-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1.25rem;
}

.n-form-radio-button--custom .n-radio + label {
    position: relative;
    padding: 1.25rem 3rem;
    border-radius: 0.5rem;
    border: 1px solid var(--toyota-black-600);
    background: var(--Toyota-White, #FFF);
    color: var(--toyota-black-600);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: .5rem 0;
    width: calc(100% - 6rem);
    height: calc(100% - 2.5rem);
    background-color: var(--Toyota-White);
}

.n-form-radio-button--custom .n-radio + label::before,
.n-form-radio-button--custom input {
    position: absolute;
    top: .3rem;
    right: -.2rem;
    width: .6rem;
    height: .6rem;
}

.n-form-radio-button--custom .n-radio + label::before {
    width: 11px;
    height: 11px;
    border: none;
}

.n-form-radio-button--custom .n-radio:checked + label::before {
    background-image: url("./../../img/icons/icon-check-solid.svg");
    background-size: contain;
    width: 16px;
    height: 16px;
}

.n-form-radio-button--custom .n-radio:checked + label {
    background-color: var(--toyota-black-100);
    border: 2px solid var(--Toyota-Black-900, #000);
    color: var(--toyota-black-800);
}

.n-form-radio-button--custom span {
    display: block;
    margin: 0 auto;
}

.n-form-toyota__grid {
    display: grid;
    grid-template-columns: auto;
    gap: 1.25rem;
}

.n-form-notice {
    position: relative;
}

.n-form-notice--highlight {
    background: var(--Toyota-Black-100, #F5F5F5);
    padding: 1.5rem 1rem 1.5rem 3rem;
}

.n-form-notice--icon::before {
    content: url(../../img/icons/info-circle.svg);
    position: absolute;
    top: 1.6rem;
    left: 1.3rem;
}

.n-form-notice p {
    color: var(--toyota-black-800);
    font-size: .75rem;
    line-height: 1.375rem;
    margin-bottom: 1rem;
}

.n-form-notice p:last-child {
    margin-bottom: 0;
}

.n-form-notice b {
    font-family: 'Toyota Type SemiBold';
}

.n-group-field {
    display: grid;
    grid-template-columns: auto;
    gap: 1.5rem;
}

.n-group-field--three-col {
    display: grid;
    grid-template-columns: auto;
    gap: 1.5rem;
}

.n-form-toyota__submit {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 1rem;
}

.n-form-text-distance__input {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.n-form-text-distance__flag {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0072F0;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    width: 3rem;
    height: 2.85rem;
    margin: -.15rem 0;
}

.n-form-text-distance__flag svg {
    margin: .15rem 0;
}

.n-form-text-distance__input input {
    width: 100%;
    border-left: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.n-group-field--three-col {
    margin-bottom: 2.75rem;
}

.n-group-field--three-col select {
    margin: .25rem 0;
    width: 331px;
}

.n-group-field--three-col label {
    margin-bottom: .5rem;
    color: var(--toyota-black-800);
    font-size: 0.75rem;
    line-height: 1.2rem;
}

@media screen and (min-width: 991px) {
    .n-form-toyota {
        margin: -1.5rem 0;
    }

    .n-form-toyota__fieldset {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .n-form-toyota__fieldset--column {
        grid-template-columns: 1fr;
    }

    .n-form-toyota__fieldset--no-column {
        grid-template-columns: none;
    }

    .n-form-toyota__fieldset--highlight {
        display: block;
    }

    .n-form-toyota__fieldset--column .n-form-toyota__control {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
    }

    .n-form-toyota__fieldset--column .n-form-toyota__control input {
        width: 430px;
        margin-right: 3.5rem;
    }

    .n-form-toyota__fieldset--three-col {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .n-form-toyota__control:last-child {
        margin-bottom: 2rem; 
    }

    .n-form-toyota__submit .n-button {
        width: auto;
    }

    .n-list-car-select .swiper-wrapper {
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 1rem;
    }

    .n-form-text[name="verification"],
    .n-form-text[name="cellphone"] {
        margin-bottom: 0;
    }

    .n-form-radio-group {
        display: grid;
        grid-template-columns: repeat(3, auto);
    }

    .n-form-radio-group--custom {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 0 -.75rem;
    }

    .n-form-radio-group label {
        margin-right: 1.75rem;
    }

    .n-group-field {
        grid-template-columns: auto auto;
        gap: 3.25rem;
    }

    .n-group-field--three-col {
        grid-template-columns: auto auto auto;
        gap: 18px;
    }

    .n-form-radio-button--custom .n-radio + label {
        margin: 0 .75rem;
        width: auto;
    }

    .n-form-toyota__group-fieldset {
        display: grid;
        grid-template-columns: 1fr 1fr    
    }
}