.n-radio,
.n-checkbox {
  position: absolute;
  padding: 0;
  margin: 0;
  margin-top: 2px;
  opacity: 0;
  height: 20px;
  width: 20px;
  pointer-events: none;
}

.n-radio + label,
.n-checkbox + label {
  display: inline-block;
  line-height: 22px;
  user-select: none;
  cursor: pointer;
  padding-left: 26px;
}

.n-checkbox--light + label {
  color: var(--toyota-white);
}

.n-radio + label::before,
.n-checkbox + label::before {
  content: "";
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  top: -0.1em;
  margin-left: -26px;
  flex-shrink: 0;
  width: 22px;
  height: 22px;
  background-color: var(--toyota-white);
  border-width: 1px;
  border-color: var(--toyota-black-900);
  border-style: solid;
  box-shadow: 0 0.1px 0.3px rgba(0, 0, 0, 0.06),0 1px 2px rgba(0, 0, 0, 0.12);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 8px;
  transition: border 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, border 0.2s;
  transition: transform 0.2s, border 0.2s, -webkit-transform 0.2s;
}

.n-radio:not(:checked):not(:focus) + label:hover::before,
.n-checkbox:not(:checked):not(:focus) + label:hover::before {
  border-color: rgba(0, 0, 0, 0.15);
}

.n-radio + label::before {
  border-radius: 50%;
}

.n-checkbox + label::before {
  border-radius: 6px;
}

.n-radio:checked + label::before,
.n-checkbox:checked + label::before {
  background-color: var(--toyota-black-900);
  box-shadow: 0 0.1px 0.3px rgba(0, 0, 0, 0.06),0 1px 2px rgba(0, 0, 0, 0.12);
  border-color: var(--toyota-black-900);
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.n-radio:checked + label::before {
  background-color: var(--toyota-white);
}

.n-radio:active + label::before,
.n-checkbox:active + label::before {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.n-radio:checked:active + label::before,
.n-checkbox:checked:active + label::before {
  -webkit-transform: none;
          transform: none;
  transition: none;
}

.n-radio:checked + label::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cg class='nc-icon-wrapper' fill='%23ffffff'%3E%3Ccircle cx='8' cy='8' r='8' fill='%23000000'%3E%3C/circle%3E%3C/g%3E%3C/svg%3E");
  background-size: 12px;
}

.n-checkbox:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpolyline points='1 6.5 4 9.5 11 2.5' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/svg%3E");
  background-size: 12px;
}

.n-radio:checked:active + label::before,
.n-checkbox:checked:active + label::before,
.n-radio:focus + label::before,
.n-checkbox:focus + label::before {
  border-color: var(--toyota-black-900);
  box-shadow: 0 0 0 3px hsla(var(--toyota-black-900), 0.2);
}