<!-- filepath: /Users/admin/Documents/WORK/NORTIS/toyota/toyota-library/docs/index.ejs -->
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Toyota Library Demo</title>
  <link rel="stylesheet" href="./dist/toyota-library.css">
</head>
<body class="container">
  <%- include('./partials/header'); %>
  <main class="main">
    <%- include('./partials/colors'); %>
    <%- include('./partials/typography'); %>
  </main>
</body>
</html>